name: Go

on:
  push:
    branches:
      - master
  pull_request:

env:
  # renovate: datasource=golang-version depName=golang
  GO_VERSION: '1.25.4'

jobs:

  build:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      with:
        go-version: '${{ env.GO_VERSION }}'
      id: go

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v -cover ./...

    - name: Test with Github API
      run: |
        T=$(mktemp)
        trap "rm -f $T" 1 2 3 15

        urlparam=""
        if [ -n "${GITHUB_URL}" ]; then
          urlparam="-url ${GITHUB_URL}"
        fi

        eval "$(./go-github-apps -export -app-id "${GH_APP_ID}" -inst-id "${GH_APP_INST_ID}")"
        curl --fail -H "Authorization: token ${GITHUB_TOKEN}" https://api.github.com/
      env:
        GH_APP_INST_ID: ${{ secrets.installation_id }}
        GH_APP_ID: ${{ secrets.app_id }}
        GITHUB_PRIV_KEY: ${{ secrets.private_key }}
