name: release-please

on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Get GITHUB_TOKEN for release
        uses: nabeken/go-github-apps@6eb3a08d3b7c6298a0f08b8a718cee8c37522a33 # v0
        id: go-github-apps
        with:
          app_id: ${{ secrets.release_gh_app_id }}
          installation_id: ${{ secrets.release_gh_app_inst_id }}
          private_key: ${{ secrets.release_gh_app_priv_key }}

      - uses: googleapis/release-please-action@f3969c04a4ec81d7a9aa4010d84ae6a7602f86a7 # v4
        with:
          release-type: go
          token: ${{ steps.go-github-apps.outputs.app_github_token }}
