name: Test Action

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - v0

env:
  # renovate: datasource=github-releases depName=nabeken/go-github-apps
  GO_GITHUB_APPS_VERSION: '0.2.5'

jobs:
  test_action_with_local:
    name: Run the action with local version
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Get GITHUB_TOKEN for Github Apps
        uses: ./
        id: go-github-apps
        with:
          installation_id: ${{ secrets.installation_id }}
          app_id: ${{ secrets.app_id }}
          private_key: ${{ secrets.private_key }}

      - name: Test Github API call
        run: |
          curl --fail -H 'Authorization: token ${{ steps.go-github-apps.outputs.app_github_token }}' https://api.github.com/

  test_action_with_version:
    name: Run the action with the version
    runs-on: ubuntu-latest

    steps:
      - name: Get GITHUB_TOKEN for Github Apps
        uses: nabeken/go-github-apps@e9483336a7aba845b7dded98403fb2876891a891 # v0
        id: go-github-apps
        with:
          installation_id: ${{ secrets.installation_id }}
          app_id: ${{ secrets.app_id }}
          private_key: ${{ secrets.private_key }}
          version: '${{ env.GO_GITHUB_APPS_VERSION }}'

      - name: Test Github API call
        run: |
          curl --fail -H 'Authorization: token ${{ steps.go-github-apps.outputs.app_github_token }}' https://api.github.com/

  test_action_with_default:
    name: Run the action with the default version
    runs-on: ubuntu-latest

    steps:
      - name: Get GITHUB_TOKEN for Github Apps
        uses: nabeken/go-github-apps@e9483336a7aba845b7dded98403fb2876891a891 # v0
        id: go-github-apps
        with:
          installation_id: ${{ secrets.installation_id }}
          app_id: ${{ secrets.app_id }}
          private_key: ${{ secrets.private_key }}

      - name: Test Github API call
        run: |
          curl --fail -H 'Authorization: token ${{ steps.go-github-apps.outputs.app_github_token }}' https://api.github.com/
