name: Bump the actions version

on:
  workflow_dispatch:

env:
  LATEST_TAG: 'v0'

jobs:
  build:
    name: Update the tag for the action

    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - uses: fregante/setup-git-user@024bc0b8e177d7e77203b48dab6fb45666854b35 # v2

    - name: Tag the actions release tag
      run: |
        git tag -f "${LATEST_TAG}"
        git push -f origin "refs/tags/${LATEST_TAG}"
